---
layout: page
title: Home
---

<!-- EXPERIENCE -->

<section class="post-list">
  <h2 class="section-title" id="work-experience">
    <a href="#work-experience">work experience</a>
  </h2>

  {% for post in site.experience reversed %}
  <div class="item" align="center">
    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
      <img class="image" src="{{ post.image }}" width="128px" />
      <h3 class="title">{{ post.title }}</h3>
      {% include post-tags.html ignore_job_type=true %}
      <p> {{ post.description }} </p>
    </a>
  </div>
  {% endfor %}

</section>

<br />

<!-- BLOG -->

<section class="post-list">
  <h2 class="section-title" id="featured-posts">
    <a href="#featured-posts">featured posts</a>
  </h2>

  {% for post in site.posts %} {% if post.featured %}
  <div class="item" align="center" style="margin-bottom: 24px">
    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
      {% if post.hero_image %}
        <img class="image" src="{{ post.hero_image }}" width="50%" />
      {% else %}
        <img class="image" src="{{ post.image }}" style="max-height:48px"/>
      {% endif %}
      <h3 class="title">{{ post.title }}</h3>
      <p style="margin-bottom: 0px;margin-top:4px"> {{ post.description }} </p>
      {% include post-tags.html %}
    </a>
  </div>

  <br />
  {% endif %} {% endfor %}

  <p style="text-align:center;">
    <a href="/blog/">
      see all blog posts →
    </a>
  </p>

</section>

<br />

<!-- OPEN SOURCE -->

<section class="post-list">
  <h2 class="section-title" id="open-source-highlights">
    <a href="#open-source-highlights">open source highlights</a>
  </h2>

  {% for post in site.open-source reversed %} {% if post.star %}
  <div class="item" align="center">
    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
      <img class="image" src="{{ post.image }}" width="50%" />
      <h3 class="title">{{ post.title }}</h3>
      <p> {{ post.description }} </p>
      {% include post-tags.html %}
    </a>
  </div>
  <br />
  {% endif %} {% endfor %}

  <p style="text-align:center;">
    <a href="/open-source/">
      see all projects →
    </a>
  </p>

</section>

