---
layout: page
title: Home
---

<script>
  /* welcome message - "shorter" behaviour for mobile devices */
  setTimeout(function(){
    var welcomeNotification = new Noty({
      type: 'info',
      text: '👋 Hello there! Looking for something specific?',
      timeout: isMobile ? 5000 : undefined,
      buttons: [
        Noty.button('Projects', 'btn-box', function() {
          ga('send', 'event', 'Notification', 'click', 'home');
          location.replace('#open-source-highlights');
          if (isMobile) welcomeNotification.close();
        }),
        Noty.button('Writing', 'btn-box', function() {
          ga('send', 'event', 'Notification', 'click', 'home');
          location.replace('#featured-posts');
          if (isMobile) welcomeNotification.close();
        }),
        Noty.button('About Me', 'btn-box', function() {
          ga('send', 'event', 'Notification', 'click', 'home', {
            hitCallback: function() {
              window.open('https://bobheadxi.dev/about');
              if (isMobile) welcomeNotification.close();
            }
          });
        }),
      ]
    }).show();
  }, 2500);
</script>

<!-- EXPERIENCE -->

<section class="list">
  <h2 style="font-weight:500;text-align:center" id="work-experience">
    <a style="color:#666;text-decoration: none;" href="#work-experience">work experience</a>
  </h2>

  {% for post in site.posts %} {% if post.experience %}
  <div class="item" align="center">
    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
      <img class="image" src="{{ post.image }}" width="128px" />
      <h3 class="title">{{ post.title }}</h3>
      <div class="post-tags">
        {% for tag in post.tags %}
        {% if tag != "internship" and tag != post.company %}
        <a class="item">{{ tag }}</a>
        {% endif %}
        {% endfor %}
      </div>
      <p> {{ post.description }} </p>
    </a>
  </div>
  {% endif %} {% endfor %}

</section>

<br />

<!-- BLOG -->

<section class="list">
  <h2 style="font-weight:500;text-align:center" id="featured-posts">
    <a style="color:#666;text-decoration: none;" href="#featured-posts">featured posts</a>
  </h2>

  {% for post in site.posts %} {% if post.tech_writeup %}
  <div class="item" align="center" style="margin-bottom: 24px">
    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
      {% if post.hero_image %}
        <img class="image" src="{{ post.hero_image }}" width="50%" style="margin-bottom: 8px"/>
      {% else %}
        <img class="image" src="{{ post.image }}" style="margin-bottom: 8px; max-height:48px"/>
      {% endif %}
      <h3 class="title">{{ post.title }}</h3>
      <p style="margin-bottom: 0px;margin-top:4px"> {{ post.description }} </p>
      <div class="post-tags">
        {% for tag in post.tags %}
        <a class="item">{{ tag }}</a>
        {% endfor %}
      </div>
    </a>
  </div>

  <br />
  {% endif %} {% endfor %}

  <p style="text-align:center;">
    <a href="/blog/">
      see all blog posts
    </a>
  </p>

</section>

<br />

<!-- OPEN SOURCE -->

<section class="list">
  <h2 style="font-weight:500;text-align:center" id="open-source-highlights">
    <a style="color:#666;text-decoration: none;" href="#open-source-highlights">open source highlights</a>
  </h2>

  {% for post in site.open-source %} {% if post.star %}
  <div class="item" align="center">
    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
      <img class="image" src="{{ post.image }}" width="50%" style="margin-bottom: 8px"/>
      <h3 class="title">{{ post.title }}</h3>
      <p> {{ post.description }} </p>
      <div align="center">
        {% for badge in post.badges %}
          {{badge}}
        {% endfor %}
      </div>
    </a>
  </div>
  <br />
  {% endif %} {% endfor %}

  <p style="text-align:center;">
    <a href="/open-source/">
      see all projects
    </a>
  </p>

</section>

