---
layout: page
title: Open Source
---
<hr />
<h1 style="font-weight:500;margin-top:-0.5rem;margin-bottom:-0.2rem;text-align:center;">open source</h1>

<p align="center">
    The open source community is amazing, and has been a huge part of my learning
    - so I do my best to give back where I can through contributions and 
    making my code available for everyone. Feel free to check out my
    <a href="https://github.com/bobheadxi">GitHub</a> and
    <a href="https://twitter.com/bobheadxi">Twitter</a> to see what I'm
    working on right now!
</p>

<section class="list">
    {% for post in site.posts %}
        {% if post.open_source %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <h3 class="title">{{ post.title }}</h3>
                    <div class="post-tags">
                        {% for tag in post.tags %}
                            <a class="item">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <p> {{ post.description }} </p>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
