<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">home</a>
            </li>
        {% endif %}

        {% if page.title != "Blog" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/blog">blog</a>
            </li>
        {% endif %}

        {% if page.title != "Open Source" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/open-source">open source</a>
            </li>
        {% endif %}

        {% if page.title != "About" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/about">about</a>
            </li>
        {% endif %}
    </ul>
</nav>
