---
layout: page
---

<!-- https://hypothes.is/ only for blog posts -->
{% if post.collection != 'experience' %}
    <script>
    window.hypothesisConfig = function() {
        return {
            branding: {
                accentColor: '#5A85F3',
            },
        };
    };
    </script>
    <script src="https://hypothes.is/embed.js" async></script>

    <!-- let visitors know about hypothes.is -->
    <!-- on desktop, notify straight away with button to open annotation -->
    <!-- on mobile, show simple notification after delay -->
    <script>
    if (!isMobile) {
        var hypothesisNotification = new Noty({
            type: 'info',
            text: 'Questions? Thoughts? Highlight some text and leave a comment! 💬',
            buttons: [
                Noty.button('See Annotations', 'btn-box',
                    function() {
                        ga('send', 'event', 'Notification', 'click', 'hypothesis');
                        hypothesisNotification.close();
                    },
                    { 'data-hypothesis-trigger': true }),
            ],
        }).show();
    } else {
        setTimeout(function() {
            new Noty({
                type: 'info',
                text: 'Questions? Thoughts? Highlight some text and leave a comment! 💬',
                timeout: 3500,
            }).show();
        }, 5000);
    }
    </script>
{% endif %}

<!-- alert guest to alternative places to view this post -->
{% if page.alt_location %}
    <script>
        if (!isMobile) {
            let altPlatform = '{{ page.alt_location.type }}';
            let altURL = '{{ page.alt_location.url }}';
            console.log(`showing popup for alt_location ${altPlatform} at ${altURL}`);
            new Noty({
                type: 'success',
                text: `📣 This post is also available on ${altPlatform}!`,
                timeout: 5000,
                buttons: [
                    Noty.button(`Read on ${altPlatform}`, 'btn-box',
                        function() {
                            ga('send', 'event', 'Notification', 'click', 'alt_location', {
                                hitCallback: function() {
                                    window.open(altURL);
                                }
                            });
                        }),
                ],
            }).show();
        } else { console.log(`hiding alt post popup on isMobile=${isMobile}`); }
    </script>
{% endif %}

<!-- diagraming stuff -->
{% if page.diagrams %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.4.8/mermaid.min.js"></script>
{% endif %}

<div class="post-header">
    {% if page.image and page.headerImage %}
    <div class="title-image">
        <img src="{{ page.image }}" alt="{{ page.title }}">
    </div>
    {% endif %}

    <h1 class="title">{{ page.title }}</h1>

    <!-- {% if page.organisation %}
    <h2 class="title" style="font-weight:350">
        <a href="{{ page.orgLink }}" target="_blank">
            {{ page.organisation }}
        </a>
    </h2>
    {% endif %} -->

    {% if page.collection!='open-source' and page.hidedescription!=true %}
    <p class="date" style="color:#606060;margin-top:-25px;margin-bottom:30px;">
        <i> {{ page.description }} </i>
    </p>
    {% endif %}

    {% if page.collection!='experience' and page.collection!='open-source' %}
    <span class="date">
        <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
        {% if site.read-time %} - {% include read-time.html %}{% endif %}
    </span>
    {% endif %}

    {% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %} {% if tag != page.company %}
        <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endif %} {% endfor %}
    </div>
    {% endif %}
</div>

<!-- https://github.com/allejo/jekyll-anchor-headings -->
<div class="post-content">
    {% include anchor_headings.html html=content anchorBody='#' beforeHeading=true %}
</div>

<!-- mermaid need to be initialized after content -->
{% if page.diagrams %}
    <script>
        /* https://github.com/mermaidjs/mermaid-gitbook/blob/master/content/mermaidAPI.md */
        mermaid.initialize({
            startOnLoad: true,
            theme: 'forest',
            flowchart: {
                useMaxWidth: true,
                htmlLabels: true
            },
            sequence: {
                useMaxWidth: true,
            },
        });
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    </script>
{% endif %}

<div class="post-end">
    {% if site.post-advance-links contains page.category %}
        <div class="blog-navigation">
            {% if page.previous.url %}
                <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
            {% else %}
                <a class="prev"></a>
            {% endif %}
            {% if page.next.url %}
                <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
            {% endif %}
        </div>
    {% endif %}

    {% if site.show-author %}
        {% include author.html %}
    {% endif %}

    {% if site.related %}
        {% include related.html %}
    {% endif %}
</div>


