---
layout: page
---

{% if page.collection != 'experience' %}
    <!-- https://hypothes.is/ only for blog posts -->
    <script>
    window.hypothesisConfig = function() {
        return {
            theme: 'clean',
            branding: {
                accentColor: '#5A85F3',
                appBackgroundColor: 'rgba(0, 0, 0, 0)'
            },
        };
    };
    </script>
    <script src="https://hypothes.is/embed.js" async></script>

    <!-- let visitors know about hypothes.is -->
    <!-- on desktop, notify straight away with button to open annotation -->
    <!-- on mobile, show simple notification after delay -->
    <script>
    if (!isMobile) {
        var hypothesisNotification = new Noty({
            type: 'info',
            text: 'Questions? Thoughts? Highlight some text and leave a comment! 💬',
            buttons: [
                Noty.button('See Annotations', 'btn-box',
                    function() {
                        ga('send', 'event', 'Notification', 'click', 'hypothesis');
                        hypothesisNotification.close();
                    },
                    { 'data-hypothesis-trigger': true }),
            ],
        }).show();
    } else {
        setTimeout(function() {
            new Noty({
                type: 'info',
                text: 'Questions? Thoughts? Highlight some text and leave a comment! 💬',
                timeout: 3500,
            }).show();
        }, 5000);
    }
    </script>
{% endif %}

{% if page.alt_location %}
    <!-- alert guest to alternative places to view this post -->
    <script>
        if (!isMobile) {
            let altPlatform = '{{ page.alt_location.type }}';
            let altURL = '{{ page.alt_location.url }}';
            console.log(`showing popup for alt_location ${altPlatform} at ${altURL}`);
            new Noty({
                type: 'success',
                text: `📣 This post is also available on ${altPlatform}!`,
                timeout: 5000,
                buttons: [
                    Noty.button(`Read on ${altPlatform}`, 'btn-box',
                        function() {
                            ga('send', 'event', 'Notification', 'click', 'alt_location', {
                                hitCallback: function() {
                                    window.open(altURL);
                                }
                            });
                        }),
                ],
            }).show();
        } else { console.log(`hiding alt post popup on isMobile=${isMobile}`); }
    </script>
{% endif %}

{% if page.diagrams %}
    <!-- diagraming stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.4.8/mermaid.min.js"></script>
{% endif %}

{% if page.maths %}
    <!-- latex stuff https://katex.org/docs/autorender.html -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css" integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js" integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false},
                    {left: '\\[', right: '\\]', display: true},
                    {left: '\\(', right: '\\)', display: false},
                ],
                throwOnError : true
            });
        });
    </script>
{% endif %}

<div class="post-header">
    {% if page.image and page.headerImage %}
    <div class="title-image">
        <img src="{{ page.image }}" alt="{{ page.title }}">
    </div>
    {% endif %}

    <h1 class="title">{{ page.title }}</h1>

    <!-- {% if page.organisation %}
    <h2 class="title" style="font-weight:350">
        <a href="{{ page.orgLink }}" target="_blank">
            {{ page.organisation }}
        </a>
    </h2>
    {% endif %} -->

    {% if page.collection!='open-source' and page.hidedescription!=true %}
    <p class="date" style="color:#606060;">
        <i> {{ page.description }} </i>
    </p>
    {% endif %}

    {% if page.collection!='experience' and page.collection!='open-source' %}
    <span class="date">
        <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
        {% if site.read-time %} - {% include read-time.html %}{% endif %}
    </span>
    {% endif %}

    {% assign post=page %}
    {% include post-tags.html %}
</div>

<!-- https://github.com/allejo/jekyll-anchor-headings -->
<div class="post-content">
    {% include anchor_headings.html html=content anchorBody='#' anchorClass='heading-anchor' beforeHeading=true %}
</div>

{% if page.diagrams %}
    <!-- mermaid need to be initialized after content -->
    <script>
        /* https://github.com/mermaidjs/mermaid-gitbook/blob/master/content/mermaidAPI.md */
        mermaid.initialize({
            startOnLoad: true,
            theme: 'forest',
            flowchart: {
                useMaxWidth: true,
                htmlLabels: true
            },
            sequence: {
                useMaxWidth: true,
            },
        });
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    </script>
{% endif %}

<div class="post-end">
    {% if site.post-advance-links contains page.collection %}
    <div class="blog-navigation">
        {% if page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">
                &laquo; {{ page.previous.title }}{% if page.previous.company %}
                <br />at {{ page.previous.organisation }}{% endif %}
            </a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">
                {{ page.next.title }}{% if page.next.company %} &raquo;
                <br />at {{ page.next.organisation }}{% endif %}
            </a>
        {% endif %}
    </div>
    {% endif %}

    <!-- if experience, only show things exactly related to that experience -->
    {% assign tags = page.tags %}
    {% if page.collection == 'experience' %}
        {% assign tags = page.company | split: " " %}
    {% endif %}
    {% include related.html tags=tags %}
</div>
